/* Theme */

:root{
    --bg: #FAFAFA;
    --color: #0277BD;
    --theme-primary-color: #0277BD;
}

main {
	background: var(--bg);
	color: var(--color);
}

.icons-social a ,
nav a{
	color: var(--color);
}

.icons-social a svg path{
    fill: var(--bg);
}

nav a::before,
nav a::after{
    background: var(--theme-primary-color);
}